
#   MODELS & WEIGHTS 

food_pro_model/
food_master_model/
*.safetensors
*.bin
*.pt
*.pth
*.ckpt

#  HUGGING FACE , CACHE & DATA
runs/
.cache/
datasets/
dataset/

# Environment files
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/
.conda/

# Generating os files
.DS_Store
Thumbs.db
